<link rel="stylesheet" href="style.css" />
h1{
  font-family: times new roman;
  color:blue;
  font-size = 15;
}

 h2{
  font-family: times new roman;
  color:blue;
}

p{
 font-family: times new roman;
}

body {
    background-color: #ffff00;
}

